!!! 5
%html
%head
  %title
    Healthpost Facebook

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  - if user_signed_in?
    #login
      = "Welcome, #{current_user.email}!"
      %br
      - #Weird, why is the client-side redirect necessary in order to pull the layout correctly? Some AA weirdness.
      = link_to "Admin", "javascript: window.location = '/'" unless current_user.regular_user?
      =# link_to "Admin", root_url unless current_user.regular_user?
      = link_to 'Logout', destroy_user_session_path, method: 'DELETE'

  #content
    %p.notice
      = notice
    %p.alert
      = alert
    = yield